.merriweather {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


body {
    margin: 0;
}

.banner {
    position: relative;
    display: flex;
}

.banner-text {
    position: absolute;
    top: 25%;
    text-align: center;
    width: 100%;
}

.gradiant {
    background: linear-gradient(to bottom, transparent, black);
    opacity: 0.7;
    position: absolute;
    height: 600px;
    width: 1320px;
    border-radius: 15px;
}

.banner-img {
    border-radius: 15px;
}

.new-year-2 {
    font-size: 72px;
    font-weight: bold;
    color: white;
}

.new-year-1 {
    font-size: 32px;
    font-weight: normal;
    color: white;
}


.width-style {
    width: 1320px;
    margin: 50px auto 0px;
}

.discount-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.discount-heading {
    font-family: inter;
    font-size: 90px;
    font-weight: bold;
    color: #FF0000;
}

.discount-primary {
    font-family: inter;
    color: #FF0000;
    font-size: 24px;
    font-weight: medium;

}

.discount-secondary {
    font-family: inter;
    color: #070211;
    font-weight: bold;
    font-size: 48px;

}

.party-section {
    position: relative;
    height: 600px;
    margin-bottom: 120px;
}
.party-img{
    position: absolute;
}

.welcome-section {
    display: flex;
    gap: 150px;
    height: 600px;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
}

.welcome-title {
    font-weight: merriweather;
    font-size: 64px;
    font-weight: bold;
    color: white;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 30px;
}

.welcome-text {
    font-weight: inter;
    font-size: 18px;
    font-weight: regular;
    color: white;
    padding-bottom: 50px;
}

.join-btn {
    font-size: 20px;
    font-weight: bold;
    font-family: inter;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    padding-left: 30px;

}

.welcome-section-left {
    padding-left: 130px;
}

.year-img{
    padding: 70px 0px 0px 0px;
}

.party-gradiant{
    background: linear-gradient(to right, black, rgba(255, 255, 255, 0));
    height: 600px;
    width: 1320px;
    position: absolute;
    opacity: 0.7;
    border-radius: 15px;
}

.event-section{
    height: 500px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), #ff000023);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}

.event-section p{
    font-family: inter;
    font-size: 32px;
    font-weight: 500;     
    margin-bottom: 10px;
}

.event-section button{ 
    padding: 16px 32px;
    background-color: #FF0000;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 48px;
}

.offer-section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 140px;
}

.offer p{
    font-size: 24px;
    font-weight: 400;
    font-family: inter;
    color: #FF0000;
}
.offer h3{
    font-size: 48px;
    font-weight: 800;
    font-family: Merriweather;
    color: Black;
}
.offer h4{
    font-size: 20px;
    font-weight: normal;
    font-family: inter;
    color: #0702118f;
}

.image img{
    border: 10px solid #FF0000 ;
    border-radius: 240px;
    padding: 25px;
}

.year h3{
    font-size: 48px;
    font-weight: bold;
    font-family: inter;
    color: #FF0000;
}
.year p{
    font-size: 20px;
    margin: 0;
    font-weight: normal;
    font-family: inter;
    color: #0702118f;
}

.year img{
    height: 140px;
    width: 140px;
    margin-top: 40px;
}
.year{
    display: flex;
    flex-direction: column  ;
    justify-content: center;
}
